<style>
    .hero-bg-img {
        background: url({{ 'baby.jpg' | asset_img_url: '2400x1600' }});
        background-position: center right -7rem;
        background-size: cover;
    }
    @media (min-width: 768px) {
        .hero-bg-img {
            background-position: center center;
        }
    }
</style>

<section class="h-auto w-full flex justify-center items-center hero-bg-img">
    <div class="py-[196px] md:hidden">
        {% render 'hero-content-mobile' %}
    </div>
    <div class="hidden md:flex justify-center w-full p-20 py-20 md:py-36 md:px-32 lg:py-[256px] lg:px-[184px] max-w-[1280px]">{% render 'hero-content' %}</div>
</section>


{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default":"Hero",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Hero"
        }
    ]
}
{% endschema %}