<section class="h-auto w-full flex justify-center items-center bg-hero-image bg-cover md:bg-center bg-[center_right_-7rem]">
    <div class="py-[196px] md:hidden">
        {% render 'hero-content-mobile' %}
    </div>
    <div class="hidden md:flex justify-center w-full p-20 py-20 md:py-36 md:px-32 lg:py-[256px] lg:px-[184px]">{% render 'hero-content' %}</div>
</section>


  