<div class="homepage">
  {% comment %} <img src="{{ 'baby.jpg' | asset_img_url: 'large' }}" width="913" height="189"> {% endcomment %}
  {% comment %} <h1>Welcome to Shopify Theme Development course!</h1> {% endcomment %}
  {% comment %} <p>{% render 'homepage-text' %}</p> {% endcomment %}
</div>