<section class="h-auto w-full flex justify-center items-center bg-[#F6F0E4] bg-cover md:bg-[center_top_31rem] lg:bg-[center_top_50rem] bg-passion-image  ">
  <div class="flex justify-center w-full p-20 py-7 md:py-32 md:px-32 lg:py-56 lg:px-[14rem]">{% render 'passion-content' %}</div>
</section>
